<!DOCTYPE html>
<html lang="en">
<head>
   <% include ../views/partials/head %>
</head>
<body class="container">

    <header>
        <% include ../views/partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Welcome to web development!</h1>
            <p>Well done, you are becoming a web developer</p>
        </div>
    </main>

    <footer>
        <% include ../views/partials/footer %>
    </footer>
    
</body>
</html>
